<div id="<%= dom_id service %>">
  <p>
    <strong>Long term housing:</strong>
    <%= service.long_term_housing %>
  </p>

  <p>
    <strong>Immediate housing:</strong>
    <%= service.immediate_housing %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= service.food %>
  </p>

  <p>
    <strong>Families:</strong>
    <%= service.families %>
  </p>

  <p>
    <strong>Expenses:</strong>
    <%= service.expenses %>
  </p>

  <p>
    <strong>Mental health:</strong>
    <%= service.mental_health %>
  </p>

  <p>
    <strong>Substance use:</strong>
    <%= service.substance_use %>
  </p>

  <p>
    <strong>Immigration:</strong>
    <%= service.immigration %>
  </p>

  <p>
    <strong>Prisoner:</strong>
    <%= service.prisoner %>
  </p>

  <p>
    <strong>Domestic violence:</strong>
    <%= service.domestic_violence %>
  </p>

  <p>
    <strong>Us military:</strong>
    <%= service.us_military %>
  </p>

  <p>
    <strong>Other:</strong>
    <%= service.other %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= service.organization_id %>
  </p>

</div>
