<%= turbo_frame_tag "add_another_address" do %>
  <%= form_with(model: address) do |form| %>
    <% if address.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

        <ul>
          <% address.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col">
        <%= form.label :street, style: "display: block" %>
        <%= form.text_field :street %>
      </div>
      <div class="col">
        <%= form.label :city, style: "display: block" %>
        <%= form.text_field :city %>
      </div>
      <div class="col">
        <%= form.label :state, style: "display: block" %>
        <%= form.text_field :state %>
      </div>
      <div class="col">
        <%= form.label "Zip Code", style: "display: block" %>
        <%= form.text_field :zip %> 
      </div>
      <div>
        <%= link_to "Add Address", new_address_path, data: { turbo_frame: data-turbo-frame="new_record_#{params.fetch(:index) + 1}"}, class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
