  
 <div class="container"> 
  <%= form_with(model: organization) do |form| %>
    <% if organization.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

        <ul>
          <% organization.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label "Add a logo"%><br>
      <%= form.file_field :avatar %>
    </div><br>
    
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div><br>

    <div>
      <%= form.label :about, style: "display: block" %>
      <%= form.text_area :about %>
    </div><br>

  <div class="container">
    <%= turbo_frame_tag "add_another_address" do %>
      <div class="header">
        <h4>Addresses</h4>
        <%= link_to "Add New Address", new_address_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <%= form.fields_for :hours do |hours|%>
    <div class="row">
      <div class="col">
        <%= hours.label :day, style: "display: block" %>
        <%= hours.text_field :day %>
      </div>
      <div class="col">
        <%= hours.label :opens, style: "display: block" %>
        <%= hours.text_field :opens %>
      </div>
      <div class="col">
        <%= hours.label :closes, style: "display: block" %>
        <%= hours.text_field :closes %>
      </div>
    </div><br>
  <% end %>


    <div>
      <%= form.label :phone, style: "display: block" %>
      <%= form.text_field :phone %>
    </div>

    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>

    <h4>Services Provided: </h4>

  <%= form.collection_check_boxes :service_ids, Service.all, :id, :name %>    

  <div>
    <%= form.submit %>
  </div>
<% end %>
