  
 <div class="container"> 
  <%= form_with(model: organization) do |form| %>
    <% if organization.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

        <ul>
          <% organization.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.file_field :avatar %>
    </div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :about, style: "display: block" %>
      <%= form.text_area :about %>
    </div>

  <div class="container">
    <%= turbo_frame_tag "add_another_address" do %>
      <div class="header">
        <h4>Addresses</h4>
        <%= link_to "Add New Address", new_address_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <%= form.fields_for :hours do |hours|%>
    <div class="row">
      <div class="col">
        <%= hours.label :day, style: "display: block" %>
        <%= hours.text_field :day %>
      </div>
      <div class="col">
        <%= hours.label :opens, style: "display: block" %>
        <%= hours.text_field :opens %>
      </div>
      <div class="col">
        <%= hours.label :closes, style: "display: block" %>
        <%= hours.text_field :closes %>
      </div>
    </div>
  <% end %>


    <div>
      <%= form.label :phone, style: "display: block" %>
      <%= form.text_field :phone %>
    </div>

    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>

    <h4>Services Provided: </h4>

  <%= form.fields_for :services do |services|%>
    <%= check_box_tag(:long_term_housing) %>
    <%= label_tag(:long_term_housing, " Long Term Housing ") %>
    
    <%= check_box_tag(:immediate_housing) %>
    <%= label_tag(:immediate_housing, " Immediate Housing ") %>
    
    <%= check_box_tag(:food) %>
    <%= label_tag(:food, " Finding Food ") %><br>
    
    <%= check_box_tag(:families) %>
    <%= label_tag(:families, " Family Services ") %>
    
    <%= check_box_tag(:expenses) %>
    <%= label_tag(:expenses, " Living Expenses ") %>
    
    <%= check_box_tag(:mental_health) %>
    <%= label_tag(:mental_health, " Mental Health Services ") %><br>

    <%= check_box_tag(:substance_use) %>
    <%= label_tag(:substance_use, " Substance Use ") %>

    <%= check_box_tag(:immigratioin) %>
    <%= label_tag(:immigration, " Immigration ") %>

    <%= check_box_tag(:prisoner) %>
    <%= label_tag(:prisoner, " Prisoner Re-entry ") %><br>

    <%= check_box_tag(:domestic_violence) %>
    <%= label_tag(:domestic_violence, " Domestic Violence ") %>

    <%= check_box_tag(:us_military) %>
    <%= label_tag(:us_military, " Former or Current U.S. military? ") %>
  
    <%= services.label :other, style: "display:block"%>
    <%= services.text_field :other%>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
