<%= link_to "Home", root_path %>


<div class="organization-<%= organization.id %> container"
    style="border: 1px solid black; padding: 1em; margin: 1em;">
  <div id="<%= dom_id organization %>">
      <p>
 <% if organization.avatar.present? %>
    <%= image_tag organization.avatar %>
 <% end %>      </p>
    
    <p>
      <div class="text-center">
        <strong>Name:</strong>
        <%= organization.name %>
      </div>
    </p>

    <p>
    <div class="text-center">
      <strong>About:</strong>
      <%= organization.about %>
    </div>
    </p>

    <p>
      <div class="text-center">
        <strong>Phone:</strong>
        <%= organization.phone %>
      </div> 
    </p>

    <p>
      <div class="text-center">
        <strong>Email:</strong>
        <%= organization.email %>
      </div>
    </p>

    <p>
        <div class="container" >
          <div class="text-center">
            <strong>Address:</strong>
            <%= organization.street %> <br> 
            <%= organization.city + ", " + organization.state  %>
            <%=" #{organization.zip_code}"%>
          </div>
        </div>
    </p>

    <p>
      <div class="text-center">
        <strong>Services:</strong>
        <%= (organization.services.each do |service| service end).to_sentence %> 
      </div>
    </p>

    <p>
    <strong>Hours:</strong>
    <% organization.hours.each do |hour| %>
      <div>
        <%= hour.day %> <%= hour.opens %> <%= hour.closes %>
      </div>

   <% end %>
    </p>

    <p>
    

  </div>
</div>


